<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pockettech.qiusheng.dao.ChartDao">

    <select id="findChartCount" resultType="java.lang.Integer">
        select count(*) from chart
    </select>

    <select id="findSomeChartBySid" resultMap="findChartsBySidMap">
        select * from chart c,user u,song s
        where c.sid = #{sid} and c.uid = u.uid and s.sid = c.sid
        limit #{first}, #{number}
    </select>

    <select id="findChartsBySid" resultMap="findChartsBySidMap">
        select * from chart c,user u,song s
        where c.sid = #{sid} and c.uid = u.uid and s.sid = c.sid
    </select>

    <resultMap id="findChartsBySidMap" type="org.pockettech.qiusheng.entity.Data.Chart">
        <id column="cid" property="cid" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="size" property="size" jdbcType="INTEGER"/>
        <result column="c_mode" property="c_mode" jdbcType="INTEGER"/>
        <collection property="user" ofType="org.pockettech.qiusheng.entity.Data.User">
            <id column="uid" property="uid" jdbcType="INTEGER"/>
            <result column="user_name" property="user_name" jdbcType="VARCHAR"/>
        </collection>
        <collection property="song" ofType="org.pockettech.qiusheng.entity.Data.Song">
            <id column="sid" property="sid" jdbcType="INTEGER"/>
            <result column="length" property="length" jdbcType="INTEGER"/>
        </collection>
    </resultMap>

    <select id="findChartByCid" resultType="org.pockettech.qiusheng.entity.Data.Chart">
        select * from chart where cid = #{cid}
    </select>

    <select id="findSidByCid" resultType="java.lang.Integer">
        select sid from chart where cid = #{cid}
    </select>

    <insert id="uploadChartMsg" parameterType="org.pockettech.qiusheng.entity.Data.Chart">
        <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into chart
        (cid, sid, uid, version, level, type, size, c_mode, c_md5, c_file_path)
        values
        (#{cid}, #{sid}, #{uid}, #{version}, #{level}, #{type}, #{size}, #{c_mode}, #{c_md5}, #{c_file_path})
    </insert>

    <update id="updateChart" parameterType="org.pockettech.qiusheng.entity.Data.Chart">
        update chart set
        version = #{version},level = #{level},
        type = #{type},size = #{size},c_mode = #{c_mode},c_md5 = ifnull(#{c_md5},c_md5),c_file_path = #{c_file_path}
        where cid = #{cid}
    </update>
</mapper>

